<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>OTP</title>
  </head>
  <body>
    <h1>OTP: {{otp}}</h1>
    <p>
      Please use this OTP to complete your verification process. If you did not
      request this, please ignore this email.
    </p>
    <p>Thank you!</p>
  </body>
</html>
{{! End of file: otp-template.hbs }}
{{! This template is used to send OTP emails. It includes the OTP in the body of the email. }}
{{! Make sure to use this template with a rendering engine that supports Handlebars syntax. }}
{{! The `otp` variable should be passed when rendering this template. }}